<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<%- include('../partials/nav') %>
<body>
<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure: </div>
    <div><%= flight.departs %></div>
    <div>Tickets: </div>
    <div>Cast:</div>
 
    <div>
      <table>
        <thead>
          <tr>
            <th>Seat</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% flight.tickets.forEach(function(ticket) { %>
            <tr>
              <td><%= ticket.seat %></td>
              <td><%= ticket.price %>$</td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </section>
  <h2>Tickets</h2>
  <form 
    id="add-tickets"
    action="/flights/<%= flight._id %>/tickets"
    method="POST">
    <label for="seat">SEAT</label>
    <input name="seat" required pattern="[A-F][1-9]\d?" placeholder="Must be ‘A1’ thru ‘F99’">
    <label for="price">PRICE</label>
    <input type="number" name="price" min="0">
    <button>submit</button>
  </form>
</main>
</body>
</html>